html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #22272E;
}
.row:not(:last-child) {
  margin: 24px;
}
/* Styles for the dark theme */
.vue-mzc-steps {
  --vue-mzc-steps-primary-color: #306EC4;
  --vue-mzc-steps-background-color: #22272E;
  --vue-mzc-steps-border-disable-color: #373E46;
  --vue-mzc-steps-circle-active-color: #ffffff;
  --vue-mzc-steps-text-disable-color: #75838F;
  --vue-mzc-steps-text-active-color: #C5D4E3;
}