.vue-mzc-steps {
  display: flex;
}
.vue-mzc-steps__item {
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.vue-mzc-steps__item:first-child {
  padding-left: 0;
}
.vue-mzc-steps__item:last-child {
  padding-right: 0;
}
.vue-mzc-steps-line {
  position: absolute;
  top: 20px;
  width: 50%;
  height: 1px;
  background-color: #bdbdbd;
  transition: background-color 0.25s ease-in-out;
}
.vue-mzc-steps-line--filled {
  background-color: #030303;
}
.vue-mzc-steps-line--left {
  left: 0;
}
.vue-mzc-steps-line--right {
  right: 0;
}
.vue-mzc-steps__item:first-child .vue-mzc-steps-line--left,
.vue-mzc-steps__item:last-child .vue-mzc-steps-line--right {
  display: none;
}
.vue-mzc-steps-item__circle {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  background-color: #ffffff;
  position: relative;
  box-shadow: 0 0 0 4px #ffffff;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out;
}
.vue-mzc-steps-item {
  font-weight: 500;
  color: #bdbdbd;
  transition: color 0.25s ease-in-out;
}
.steps-item__title {
  text-align: center;
}
.vue-mzc-steps-item--active,
.vue-mzc-steps-item--complete {
  color: #030303;
}
.vue-mzc-steps-item--active .vue-mzc-steps-item__circle,
.vue-mzc-steps-item--complete .vue-mzc-steps-item__circle {
  background-color: #ffcb08;
  border-color: #ffcb08;
}